<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>★ Sterni Bingo ★</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ff0000" />

    <meta property="og:title" content="★ Sterni Bingo ★" />
    <meta property="og:description" content="Sammeln, speichern und sehen ob man ein Bingo hat." />
    <meta property="og:image" content="https://sterni-bingo.de/assets/og.png" />
    <meta property="og:url" content="https://sterni-bingo.de" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />

    <style>
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      body,
      html {
        background: rgb(185, 1, 1);
        background: radial-gradient(circle, rgba(185, 1, 1, 1) 0%, rgba(121, 9, 9, 1) 100%);
      }
      .sterni-loading {
        fill: white;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120px;
        height: 120px;
        margin: -60px 0 0 -60px;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        transform-origin: 64px 64px;
      }
    </style>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5JBVRNV');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5JBVRNV"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <app-root>
      <svg class="sterni-loading" width="119.99999999999999" height="119.99999999999999" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->

        <g>
          <title>background</title>
          <rect fill="none" id="canvas_background" height="122" width="122" y="-1" x="-1" />
          <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
          </g>
        </g>
        <g>
          <title>Layer 1</title>
          <g stroke="null" id="svg_48">
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_31"
            >
              <g stroke="null" id="svg_29">
                <polygon
                  stroke="null"
                  id="svg_32"
                  points="3511.349609375,3589.12451171875 3605.6996154785156,3657.974609375 3569.9996032714844,3545.774658203125 3664.349609375,3479.474609375 3549.599609375,3479.474609375 3511.349609375,3364.724609375 3473.099609375,3479.474609375 3358.349609375,3479.474609375 3452.699607849121,3545.774658203125 3416.999610900879,3657.974609375 "
                />
              </g>
            </g>
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_33"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_34"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_35"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_36"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_37"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_38"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_39"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_40"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_41"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_42"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_43"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_44"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_45"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_46"
            />
            <g
              stroke="null"
              transform="matrix(0.3898502301181257,0,0,0.4081686954862872,-1308.9510371561157,-1373.275520600575) "
              id="svg_47"
            />
          </g>
        </g>
      </svg>
    </app-root>
    <script src="runtime-es2015.js" type="module"></script>
    <script src="runtime-es5.js" nomodule defer></script>
    <script src="polyfills-es5.js" nomodule defer></script>
    <script src="polyfills-es2015.js" type="module"></script>
    <script src="styles-es2015.js" type="module"></script>
    <script src="styles-es5.js" nomodule defer></script>
    <script src="vendor-es2015.js" type="module"></script>
    <script src="vendor-es5.js" nomodule defer></script>
    <script src="main-es2015.js" type="module"></script>
    <script src="main-es5.js" nomodule defer></script>
  </body>
</html>
