<div class="container">
  Datenschutzerklärung <br />
  <br />

  Kontaktinformationen<br />
  <br />

  Inhaber<br />
  <br />

  Leon Borlinghaus<br />
  Lindenstraße 75a<br />
  10969 Berlin<br />
  <br />

  E-Mail-Adresse: sterni.bingo@gmail.com<br />
  <br />

  Maßgebliche Rechtsgrundlagen<br />
  <br />

  Für jede Datenverarbeitungen teilen wir Ihnen die Rechtsgrundlage basierend auf Art. 13 DSGVO mit. Sofern wir die Rechtsgrundlage für eine
  Verarbeitung nicht genauer spezifizieren gilt folgendes: Die Rechtsgrundlage für das Einholen einer Einwilligung erfolgt auf Basis von
  Art. 6 Abs. 1 lit. a und Art. 7 DSGVO. Die Rechtsgrundlage für die Erfüllung unseres Vertrages sowie die Erbringung unserer Leistungen ist
  Art. 6 Abs. 1 lit. b DSGVO. Die Rechtsgrundlage für die Erfüllung rechtlicher Verpflichtungen ist Art. 6 Abs. 1 lit. c DSGVO. Die
  Rechtsgrundlage für die Wahrung unserer berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO.<br />

  Widerruf<br />
  <br />

  Sie haben das Recht, jegliche erteilte Einwilligungen in die Datenverarbeitung für die Zukunft zu widerrufen. Grundlage hierfür ist Art. 7
  Abs. 3 DSGVO. Ihre Rechte Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten: Das Recht auf
  Auskunft, Das Recht auf Berichtigung oder Löschung ("Recht auf Vergessenwerden"), Das Recht auf Einschränkung der Verarbeitung, Das Recht
  auf Widerspruch gegen die Verarbeitung, Das Recht auf Datenübertragbarkeit, Das Recht, nicht einer ausschließlich auf einer
  automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber rechtliche
  Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt. Sie haben zudem das Recht, sich bei einer
  Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren. Sie können Ihre Rechte
  wahrnehmen über unserere E-Mail an:<br />
  <br />

  E-Mail: sterni.bingo@gmail.com<br />
  <br />

  Datenschutzbeauftragter<br />
  <br />

  Es besteht nach Art. 37 Abs. 1 DS-GVO, § 38 BDSG keine Pflicht zur Benennung eines Datenschutzbeauftragten. Wir haben derzeit auch keinen
  Datenschutzbeauftragten freiwillig benannt. Für Fragen rund um den Datenschutz wenden Sie sich bitte direkt an uns als verantwortliche
  Stelle.
  <br />
  <br />
  Cookies / Local Storage<br />
  <br />

  Wir setzen teilweise auf Cookies bzw. speichern Daten im 'Local Storage' Ihres Browsers. Wir setzen die Technologie ein um Sie beim
  nächsten Besuch unserer Webseite wiederzuerkennen. Die Rechtsgrundlage für diese Verarbeitung bildet Art. 6 Abs. 1 lit. f DSGVO
  (Berechtigtes Interesse). Sie können das Speichern von Cookies und das Speichern im 'Local Storage' verhindern, indem Sie die
  entsprechenden Einstellungen in Ihrem Browser vornehmen.
  <br />
  <br />
  Protokolldaten<br />
  <br />

  Wir setzen auf automatische Protokolldaten beim Abruf unserer Webseiten. Wir setzen die Technologie zur technischen Administration und zur
  Absicherung unserer Dienste ein. Die Rechtsgrundlage für diese Verarbeitung bildet Art. 6 Abs. 1 lit. f DSGVO (Berechtigtes Interesse).
  Wir verarbeiten folgende mit dieser Technologie folgende Daten: Name der abgerufenen Webseite, Datum und Uhrzeit des Abrufs, Status Code
  der Antwort, Browsertyp und Version, Referrer URL (die zuvor besuchte Seite), Anonymisierte-IP-Adresse.
  <br />
  <br />
  Google Maps<br />
  <br />

  Wir setzen auf Technologien des Anbieters Google Maps (Google LLC 1600 Amphitheatre Parkway Mountain View, CA 94043). Wir setzen die
  Technologie ein um unsere Angebote zu verbessern. Die Rechtsgrundlage für diese Verarbeitung bildet Art. 6 Abs. 1 lit. a DSGVO
  (Einwilligung). Die Datenschutzerklärung des Anbieters finden Sie hier: https://policies.google.com/?hl=de. Der Anbieter ist dem
  Privacy-Shield-Abkommen beigetreten. Dieses Abkommen stellt eine Garantie gem. Art. 46 DSGVO dar.
  https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active. Sie können der Datenverarbeitung widersprechen, indem Sie
  im Datenschutzcenter Ihre persönlichen Datenschutz-Einstellungen anpassen, welche hier abrufbar sind:
  https://adssettings.google.com/authenticated. Wir verarbeiten mit dieser Technologie IT-Nutzungsdaten wie (z.B. IP-Adressen,
  Standortdaten).
  <br />
  <br />
  Google Fonts<br />
  <br />

  Auf dieser Internetseite werden externe Schriften, Google Fonts verwendet. Google Fonts ist ein Dienst der Google LLC. (Google LLC 1600
  Amphitheatre Parkway Mountain View, CA 94043). Wir setzen die Technologie ein um die Darstellung auf unserer Website zu verbessern. Die
  Rechtsgrundlage für diese Verarbeitung bildet Art. 6 Abs. 1 lit. f DSGVO (Berechtigtes Interesse). Die Datenschutzerklärung des Anbieters
  finden Sie hier: https://policies.google.com/privacy?hl=de. Der Anbieter ist dem Privacy-Shield-Abkommen beigetreten. Dieses Abkommen
  stellt eine Garantie gem. Art. 46 DSGVO dar. https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active. Die Einbindung
  dieser Web Fonts erfolgt durch einen Serveraufruf, in der Regel ein Server von Google in den USA. Hierdurch wird an den Server
  übermittelt, welche unserer Internetseiten Sie besucht haben. Auch wird die IP-Adresse des Browsers des Endgerätes des Besuchers dieser
  Internetseiten von Google gespeichert.
  <br />
  <br />
  Instagram<br />
  <br />

  Auf unseren Seiten sind Funktionen des Dienstes Instagram eingebunden. Diese Funktionen werden angeboten durch die Instagram Inc., 1601
  Willow Road, Menlo Park, CA, 94025, USA integriert. Wenn Sie in Ihrem Instagram – Account eingeloggt sind können Sie durch Anklicken des
  Instagram – Buttons die Inhalte unserer Seiten mit Ihrem Instagram – Profil verlinken. Dadurch kann Instagram den Besuch unserer Seiten
  Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten
  sowie deren Nutzung durch Instagram erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Instagram:
  http://instagram.com/about/legal/privacy/
  <br />
  <br />
  Google Analytics<br />
  <br />

  Diese Website nutzt den Dienst „Google Analytics“, welcher von der Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA)
  angeboten wird, zur Analyse der Websitebenutzung durch Nutzer. Der Dienst verwendet „Cookies“ – Textdateien, welche auf Ihrem Endgerät
  gespeichert werden. Die durch die Cookies gesammelten Informationen werden im Regelfall an einen Google-Server in den USA gesandt und dort
  gespeichert. Auf dieser Website greift die IP-Anonymisierung. Die IP-Adresse der Nutzer wird innerhalb der Mitgliedsstaaten der EU und des
  Europäischen Wirtschaftsraum gekürzt. Durch diese Kürzung entfällt der Personenbezug Ihrer IP-Adresse. Im Rahmen der Vereinbarung zur
  Auftragsdatenvereinbarung, welche die Websitebetreiber mit der Google Inc. geschlossen haben, erstellt diese mithilfe der gesammelten
  Informationen eine Auswertung der Websitenutzung und der Websiteaktivität und erbringt mit der Internetnutzung verbundene
  Dienstleistungen. Sie haben die Möglichkeit, die Speicherung des Cookies auf Ihrem Gerät zu verhindern, indem Sie in Ihrem Browser
  entsprechende Einstellungen vornehmen. Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen
  zugreifen können, wenn Ihr Browser keine Cookies zulässt. Weiterhin können Sie durch ein Browser-Plugin verhindern, dass die durch Cookies
  gesammelten Informationen (inklusive Ihrer IP-Adresse) an die Google Inc. gesendet und von der Google Inc. genutzt werden. Folgender Link
  führt Sie zu dem entsprechenden Plugin: https://tools.google.com/dlpage/gaoptout?hl=de Hier finden Sie weitere Informationen zur
  Datennutzung durch die Google Inc.: https://support.google.com/analytics/answer/6004245?hl=de

  <br />
  <br />
  Datenschutzerklärung für die Verwendung von Google AdSense<br /><br />
  Diese Website verwendet Google AdSense. Es handelt sich hierbei um einen Dienst der Google Inc., 1600 Amphitheatre Parkway, Mountain View,
  CA 94043, USA, zur Einbindung von Werbeanzeigen. Google AdSense verwendet Cookies. Dies sind Dateien, durch deren Speicherung auf Ihrem PC
  Google die Daten Ihrer Benutzung unserer Website analysieren kann. Zudem werden bei Google AdSense zusätzlich Web Beacons verwendet, nicht
  sichtbare Grafiken, die es Google ermöglichen, Klicks auf dieser Website, den Verkehr auf dieser und ähnliche Informationen zu
  analysieren. Die über Cookies und Web Beacons erhaltenen Informationen, Ihre IP-Adresse sowie die Auslieferung von Werbeformaten werden an
  einen Server von Google mit Standort in den USA übermittelt und dort gespeichert. Google wird diese gesammelten Informationen
  möglicherweise an Dritte weitergeben, wenn dies gesetzlich erforderlich ist oder Google gegenüber Dritten die Datenverarbeitung in Auftrag
  gibt. Allerdings wird Google Ihre IP-Adresse zusammen mit den anderen gespeicherten Daten zusammenführen. Durch entsprechende
  Einstellungen an Ihrem Internetbrowser können Sie verhindern, dass die genannten Cookies auf Ihrem PC gespeichert werden. Dadurch besteht
  jedoch die Möglichkeit, dass die Inhalte dieser Website nicht mehr in gleichem Umfang genutzt werden können. Durch die Nutzung dieser
  Website willigen Sie in die Bearbeitung der zu Ihrer Person erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu
  dem zuvor benannten Zweck ein.
</div>
